## General ##

## Java ##
*.class
doc/*
*.gif
*.log

## Maven ##
target/*

## Eclipse ##
.settings
.project
.classpath
bin/*
.factorypath

## IntelliJ ##
*.idea

## GoogleCodeJamsFiles ##
solution
solution.txt
*.in
*SampleInput
